{% extends 'layout.html' %}

{% block pagestyles %}
    {% assets "home_less_bundle" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/style.css') }}" rel="stylesheet/css" type="text/css">
    {% endassets %}
{% endblock %}



{% block content %}

{% include 'navigation.html' %}

<div class="div-h1">
    <div class="col-lg-21">
        <h1>Podcast Reviews</h1>
    </div>
</div>



<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    {% for review in all_reviews %}
        <div class="col-md-3 col-sm-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='src/img/' + review.podcast_img) }}" alt="podcast_img">
                <div class="card-body">
                    <h3>{{ review.podcast_guest }}</h3>
                    <hr>
                    <p class="card-text">{{ review.podcast_review }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5 class='cat-labels'>Review Date:</h5> {{ review.review_date.strftime('%m-%d-%y') }} </li>
                    <li class="list-group-item"><h5 class='cat-labels'>Reviewer:</h5> {{ review.reviewer_username }} </li>
                    <li class="list-group-item"><h5 class='cat-labels'>Podcast Host:</h5>{{ review.podcast_host }} </li>
                    <li class="list-group-item"><h5 class='cat-labels'>Podcast Rating:</h5> {{ review.podcast_rating }} </li>
                    <li class="list-group-item"><h5 class='cat-labels'>Podcast Genre:</h5> {{ review.podcast_genre }} </li>
                </ul>
                <div class="card-body">
                    {% if review.podcast_link %}
                    <button>
                        <a href="{{ review.podcast_link }}" class="card-link">Card link</a>
                    </button>
                    {% endif %}
                    {% if current_user.id == review['reviewer_id'] %}
                    <button type='submit' value='Submit' class='edit-button btn btn-warning btn-active' >
                        <a href="{{ url_for('home_bp.update', id=review['id']) }} ">Edit</a>
                    </button>
                    <form action="{{ url_for('home_bp.delete', id=review['id']) }}" method="POST">
                        <input class="delete-button btn btn-danger btn-active" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                    </form>

                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-1 col-md-offset-1">
        </div>
    {% endfor %}
</div>




{% endblock %}