body, html {
    background-color: #e6e6ff;
    background-image: url('https://images.unsplash.com/photo-1528459458967-d78e2fd34a9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=766&q=80')
}


.form-wrapper {
    background: linear-gradient(-45deg, #9adce7, #90dae7, #9cd1e4, #aff5ca);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /* background: white; */
    width: 500px;
    max-width: 900px;
    margin: 80px auto 0;
    box-shadow: 0 0 5px rgba(65, 67, 144, 0.15);
    padding: 50px;
    padding-bottom: 50px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.card .card-img-top {
    width: 287px;
    height: 200px;

}

.col-md-3 {
    padding-left: 90px;
    padding-bottom: 100px;
}

.cat-labels {
    float: left;
}

input {
    background-color:whitesmoke;
    padding: 10px 13px;
    margin-bottom: 15px;
    width: -webkit-fill-available;
    border-radius: 2px;
    border: 1px solid #d4d9e3;
    font-weight: 200;
    font-family: 'sans serif';
    font-size: .9em;
    outline-color: transparent;
    outline-style: none;
}

.form-field-rating {
    float: left;
    margin-left: 6px;
}

#podcast-genre{
    background-color: whitesmoke;
}

#submit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

label[for='podcast_review']{
    float:left;
    margin-right: 10px;
}

textarea {
    width: 300px;
    height: 100px;
    background-color: whitesmoke;
}

select {
    background-color: whitesmoke;
}

input[type=radio]:checked + label{
    background-color: whitesmoke;
}

.jumbotron {
    background-color: #fff2e6;
    padding-left: 200px;
    padding-right: 200px;
}

.edit-button {
    width: -webkit-fill-available;
}

.div-h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 5rem;
    color: darkorchid;
    font-weight: bold;
    border-bottom: 1px solid #dee2ef;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-family: 'sans-serif';
}
